body {
    background-color: black;
}

div.poster{
background-color: black;

}

div.text{
font-size: 40px;
font-family: Arial, Helvetica, sans-serif;
text-align: right;
color: white;
transition: 0.5s;
}

/* rule 1 */

div.text.one{
font-size: 14px;
text-transform: uppercase;
height: 10%;
width: 90%;

}

div.circle{
margin-left: auto;
margin-right: auto;
background: white;
border-radius: 50%;
width: 1000px;
height: 1000px;
}

div.text.two{
    font-size: 20px;
    text-align: center;
    text-transform: uppercase;
    height: 15%;
    width: 10%;

}

div.text.three{
    font-size: 40px;
    height: 15%;
    width: 100%;
    
}

/* rule 2 */

div.text.a{
color: white;

}

div.text.b{
    color: white;
    
}

div.text.c{
        color: white;
}

/* rule 3 */

div.text.x{
 font-style: italic;
}

div.text.y{
   font-style: normal;
}

div.text.z{
   font-weight: bold;
}
    

div.small{
    font-size: 10px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: white;
    }